<html>  
<head>  
    <title>upload</title>  
</head>  
<body>  
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        <p> Enter name : </p>
        <p> <input type = "text" name ="Name"/></p>
        <p> Enter email : </p>
        <p> <input type = "text" name ="Email"/></p>
        <p> Enter phone : </p>
        <p> <input type = "text" name ="No"/></p>
        <input type="file" name="file" />  
        <input type = "submit" value="Submit">  
    </form>  
</body>  
</html>  
